/* Color Theme Swatches in HSLA */
$primary: #F2A0AF;
$secondary: #1AA3D9;
$primaryBG: #F2BB16;
$secodaryBG: #F2AE2E;
$black: #0D0D0D;
$lighBlack: #F2AE2E;
$white: #F2F2F2;
$family: 'Rubik', sans-serif;

