/* Color Theme Swatches in HSLA */
$primary: hsla(354, 86%, 63%, 1) ;
$secondary: hsla(241, 56%, 65%, 1) ;
$black: hsla(219, 90%, 7%, 1);
$lighBlack: hsla(191, 70%, 14%, 1) ;
$warning: hsla(45, 87%, 60%, 1) ;
$family: 'Rubik', sans-serif;