@use '../base/variables' as v;
@use '../base/mixins' as m;

.sidebar {
    min-height: 100vh;
    position: fixed;
    background-color: v.$secondary;
    padding: 3rem;
    color: v.$white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3rem repeat(2, 1fr);
    gap: 4rem;
    width: 100%;
    max-width: 100vw;

    @include m.desktop {
        max-width: 30rem;

    }
}

.sidebar__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-column: 1/4;
}

.sidebar__logo-name {
    font-size: 2.6rem;
    font-weight: 600;
    margin: 0;
}

.hamburger {
    grid-column: 4/5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.hamburger__item {
    height: .5rem;
    width: 100%;
    background-color: v.$white;
    display: block;

    @include m.desktop {
        display: none;
    }
}

// Side Menu
.menu,
.options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.menu {
    grid-row: 2/3;
    grid-column: 1/5;
    align-items: center;
}

.menu__item{
    color: v.$white;
    text-decoration: none;
    font-size: 2.4rem;
    position: relative;
    margin-left: 11rem;
    display: inline-block;

    @include m.desktop {
        margin-left: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        transition: all .3s ease;
    }
}

.menu__item:hover {
    color: #fff;
    background-color: v.$primary;
    border-radius: 1rem;
    padding: 1rem 0 1rem 1rem;

}

.menu__item__text {
    position: absolute;
    margin-left: 1rem;
    top: 0;
    left: 24px;

}

.menu__item:hover .menu__item__text {
    top: unset;
   margin-left: 2rem;
}

.menu--option {
    padding-top: 3rem;
    max-height: 20rem;
    grid-row: 3/4;
    grid-column: 1/5;

}